{% extends "base.html" %}
{% block head %}
{% if category != "hidden" %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/sidebar.css">
{% endif %}
{% endblock head %}
{% block sidebar %}
<ul>
    {% for cat, articles in categories %}

    {% if cat == category %}
    {% for article_ in articles %}
    <li><a class="custom_link" href="/{{article_.url}}">{{article_.title}}</a></li>
    {% endfor %}
    {% endif %}

    {% endfor %}
</ul>
{% endblock sidebar %}

{% block article %}
<p>{{article.content}}</p>
{% endblock article %}